In [869]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [870]:
data = pd.read_csv("hyd_v2.csv")

In [871]:
data.shape

(19110, 36)

In [872]:
data.head()
# id, locality_id, ownerName, propertyType, shortUrl, weigth, propertyType, completeStreetName, facingDesc, parkingDesc can be droped
# because they are not needed or are already elaborated in other coumns

,active,amenities,balconies,bathroom,combineDescription,completeStreetName,deposit,facing,facingDesc,floor,...,property_size,reactivationSource,rent_amount,sharedAccomodation,shortUrl,swimmingPool,totalFloor,type_bhk,waterSupply,weight
0,True,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",3,3,NaN,"Shreya carnation, Block I, NCB Enclave, Gachib...",90000,W,West,3,...,2200,USER_DASHBOARD,28000,False,http://nobr.kr/sv/9Kvqj,False,5,BHK3,CORP_BORE,NaN
1,True,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",1,2,NaN,"Inner Ring Rd, near RTO Bandlaguda South Zone",45000,E,East,2,...,1200,USER_DASHBOARD,15000,False,http://nobr.kr/sv/j2pD6,False,2,BHK3,BOREWELL,NaN
2,True,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",3,3,NaN,"Rd Number 2, Shirdi Sai Nagar, Manikonda, Hyde...",80000,E,East,0,...,1800,MISSED_CALL,16000,False,http://nobr.kr/sv/TXJmj,False,3,BHK3,CORP_BORE,NaN
3,True,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",1,2,NaN,"Plot No. 44, Road No. 1/A, kakatiya colony, LB...",18000,W,West,2,...,750,MISSED_CALL,9000,False,http://nobr.kr/sv/FnCsf,False,2,BHK2,CORP_BORE,NaN
4,True,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",2,2,NaN,"Madhapur HUDA Techno Enclave, Near MaxCure Su...",80000,E,East,2,...,1250,None,32500,False,http://nobr.kr/sv/BQFRb,False,5,BHK2,CORP_BORE,NaN

In [873]:
data = data.drop(columns=['id', 'localityId', 'ownerName', 'propertyType', 'shortUrl',
                 'weight', 'propertyType', 'completeStreetName', 'facingDesc', 'parkingDesc','combineDescription'], axis=1)

In [874]:
data.shape

(19110, 26)

In [875]:
data.columns

Index(['active', 'amenities', 'balconies', 'bathroom', 'deposit', 'facing',
       'floor', 'furnishingDesc', 'gym', 'isMaintenance', 'lift',
       'loanAvailable', 'locality', 'location', 'maintenanceAmount', 'parking',
       'propertyTitle', 'property_age', 'property_size', 'reactivationSource',
       'rent_amount', 'sharedAccomodation', 'swimmingPool', 'totalFloor',
       'type_bhk', 'waterSupply'],
      dtype='object')

In [876]:
# def amenities(dictionary):
#     dictionary = f'{dictionary}'
#     # print(type(dictionary))
#     dictionary = json.loads(dictionary)
#     print(type(dictionary))
#     # available = 0
#     # for i in dictionary.values():
#     #     if i == true:
#     #         available += 1
#     # print(available/19)
#     print(dictionary)


# # a = amenities('{"LIFT": true, "GYM": false, "INTERNET": false, "AC": false, "CLUB": false, "INTERCOM": false, "POOL": false, "CPA": true, "FS": false,"SERVANT": false, "SECURITY": true, "SC": false, "GP": false, "PARK": false, "RWH": true, "STP": false, "HK": false, "PB": true, "VP": true}')
# # print(a)
# data['amenities'].apply(amenities)

In [877]:
data.isnull().sum()

active                 0
amenities              0
balconies              0
bathroom               0
deposit                0
facing                 0
floor                  0
furnishingDesc         0
gym                    0
isMaintenance          0
lift                   0
loanAvailable          0
locality               6
location               0
maintenanceAmount      0
parking                0
propertyTitle          0
property_age           0
property_size          0
reactivationSource    63
rent_amount            0
sharedAccomodation     0
swimmingPool           0
totalFloor             0
type_bhk               0
waterSupply            0
dtype: int64

In [878]:
data.shape

(19110, 26)

In [879]:
data = data.dropna(axis=0,how='any')

In [880]:
data.isnull().sum()
# data is dropped because the null values are very low and removing them doesnt make a difference

active                0
amenities             0
balconies             0
bathroom              0
deposit               0
facing                0
floor                 0
furnishingDesc        0
gym                   0
isMaintenance         0
lift                  0
loanAvailable         0
locality              0
location              0
maintenanceAmount     0
parking               0
propertyTitle         0
property_age          0
property_size         0
reactivationSource    0
rent_amount           0
sharedAccomodation    0
swimmingPool          0
totalFloor            0
type_bhk              0
waterSupply           0
dtype: int64

In [881]:
data.drop(columns=['amenities','propertyTitle'],axis=1,inplace=True)

In [882]:
data.iloc[0]

active                                                       True
balconies                                                       3
bathroom                                                        3
deposit                                                     90000
facing                                                          W
floor                                                           3
furnishingDesc                                               Semi
gym                                                         False
isMaintenance                                                True
lift                                                         True
loanAvailable                                                True
locality                                               Gachibowli
location              17.465080245131944000,78.340134322090170000
maintenanceAmount                                            2000
parking                                                      BOTH
property_age                                                    5
property_size                                                2200
reactivationSource                                 USER_DASHBOARD
rent_amount                                                 28000
sharedAccomodation                                          False
swimmingPool                                                False
totalFloor                                                      5
type_bhk                                                     BHK3
waterSupply                                             CORP_BORE
Name: 0, dtype: object

In [883]:
data['locality'].value_counts()

Kukatpally        1519
Kondapur          1232
Gachibowli         713
Miyapur            601
Hafeezpet          466
                  ...
Namalagundu          1
Medipattanam         1
Himayathnagar        1
Shilpa Park          1
Sikh Village,        1
Name: locality, Length: 2634, dtype: int64

In [884]:
# lets ignore values less than 10 to lessen the data which makes encoding easy
locations = data['locality'].value_counts()
less_than_10 = locations[locations <= 10]
data['locality'] = data['locality'].apply(lambda x: 'other' if x in less_than_10 else x)

In [885]:
data['locality'].value_counts()

other                 4165
Kukatpally            1519
Kondapur              1232
Gachibowli             713
Miyapur                601
                      ...
Shilpa Hills            11
Nampally                11
Gopanapalli Thanda      11
Peeramcheru             11
L. B. Nagar             11
Name: locality, Length: 211, dtype: int64

In [886]:
data.head()

,active,balconies,bathroom,deposit,facing,floor,furnishingDesc,gym,isMaintenance,lift,...,parking,property_age,property_size,reactivationSource,rent_amount,sharedAccomodation,swimmingPool,totalFloor,type_bhk,waterSupply
0,True,3,3,90000,W,3,Semi,False,True,True,...,BOTH,5,2200,USER_DASHBOARD,28000,False,False,5,BHK3,CORP_BORE
1,True,1,2,45000,E,2,Unfurnished,False,False,False,...,TWO_WHEELER,1,1200,USER_DASHBOARD,15000,False,False,2,BHK3,BOREWELL
2,True,3,3,80000,E,0,Semi,True,True,True,...,BOTH,0,1800,MISSED_CALL,16000,False,False,3,BHK3,CORP_BORE
3,True,1,2,18000,W,2,Unfurnished,False,True,False,...,BOTH,0,750,MISSED_CALL,9000,False,False,2,BHK2,CORP_BORE
4,True,2,2,80000,E,2,Semi,False,True,True,...,BOTH,5,1250,None,32500,False,False,5,BHK2,CORP_BORE

In [887]:
data.iloc[0]

active                                                       True
balconies                                                       3
bathroom                                                        3
deposit                                                     90000
facing                                                          W
floor                                                           3
furnishingDesc                                               Semi
gym                                                         False
isMaintenance                                                True
lift                                                         True
loanAvailable                                                True
locality                                               Gachibowli
location              17.465080245131944000,78.340134322090170000
maintenanceAmount                                            2000
parking                                                      BOTH
property_age                                                    5
property_size                                                2200
reactivationSource                                 USER_DASHBOARD
rent_amount                                                 28000
sharedAccomodation                                          False
swimmingPool                                                False
totalFloor                                                      5
type_bhk                                                     BHK3
waterSupply                                             CORP_BORE
Name: 0, dtype: object

In [888]:
data['type_bhk'] = data['type_bhk'].apply(lambda x : x[3] if len(x)==4 else None)

In [889]:
data['type_bhk'].value_counts()

2    9212
3    4210
1    4205
4     210
Name: type_bhk, dtype: int64

In [890]:
data.isnull().sum()

active                   0
balconies                0
bathroom                 0
deposit                  0
facing                   0
floor                    0
furnishingDesc           0
gym                      0
isMaintenance            0
lift                     0
loanAvailable            0
locality                 0
location                 0
maintenanceAmount        0
parking                  0
property_age             0
property_size            0
reactivationSource       0
rent_amount              0
sharedAccomodation       0
swimmingPool             0
totalFloor               0
type_bhk              1204
waterSupply              0
dtype: int64

In [891]:
data = data.dropna(axis=0,how='any')
# removing the data without BHK values coz they are few

In [892]:
data.isnull().sum()

active                0
balconies             0
bathroom              0
deposit               0
facing                0
floor                 0
furnishingDesc        0
gym                   0
isMaintenance         0
lift                  0
loanAvailable         0
locality              0
location              0
maintenanceAmount     0
parking               0
property_age          0
property_size         0
reactivationSource    0
rent_amount           0
sharedAccomodation    0
swimmingPool          0
totalFloor            0
type_bhk              0
waterSupply           0
dtype: int64

In [893]:
data.iloc[0]

active                                                       True
balconies                                                       3
bathroom                                                        3
deposit                                                     90000
facing                                                          W
floor                                                           3
furnishingDesc                                               Semi
gym                                                         False
isMaintenance                                                True
lift                                                         True
loanAvailable                                                True
locality                                               Gachibowli
location              17.465080245131944000,78.340134322090170000
maintenanceAmount                                            2000
parking                                                      BOTH
property_age                                                    5
property_size                                                2200
reactivationSource                                 USER_DASHBOARD
rent_amount                                                 28000
sharedAccomodation                                          False
swimmingPool                                                False
totalFloor                                                      5
type_bhk                                                        3
waterSupply                                             CORP_BORE
Name: 0, dtype: object

In [894]:
labelencoder = LabelEncoder()

In [895]:
data['locality'].value_counts()

other              3889
Kukatpally         1434
Kondapur           1179
Gachibowli          668
Miyapur             576
                   ...
 Madhapur             9
Madhura Nagar         9
 Gachibowli           9
L. B. Nagar           8
Jagadgiri Gutta       7
Name: locality, Length: 211, dtype: int64

In [896]:
label = labelencoder.fit_transform(data.locality)
data.locality = label
label = labelencoder.fit_transform(data.active)
data.active = label
label = labelencoder.fit_transform(data.facing)
data.facing = label
label = labelencoder.fit_transform(data.furnishingDesc)
data.furnishingDesc = label
label = labelencoder.fit_transform(data.gym)
data.gym = label
label = labelencoder.fit_transform(data.isMaintenance)
data.isMaintenance = label
label = labelencoder.fit_transform(data.lift)
data.lift = label
label = labelencoder.fit_transform(data.loanAvailable)
data.loanAvailable = label
label = labelencoder.fit_transform(data.parking)
data.parking = label
label = labelencoder.fit_transform(data.reactivationSource)
data.reactivationSource = label
label = labelencoder.fit_transform(data.sharedAccomodation)
data.sharedAccomodation = label
label = labelencoder.fit_transform(data.swimmingPool)
data.swimmingPool = label
label = labelencoder.fit_transform(data.waterSupply)
data.waterSupply = label

In [897]:
data['locality'].value_counts()

210    3889
100    1434
94     1179
51      668
126     576
       ...
4         9
111       9
1         9
104       8
74        7
Name: locality, Length: 211, dtype: int64

In [898]:
data.iloc[0]

active                                                          0
balconies                                                       3
bathroom                                                        3
deposit                                                     90000
facing                                                          9
floor                                                           3
furnishingDesc                                                  1
gym                                                             0
isMaintenance                                                   1
lift                                                            1
loanAvailable                                                   0
locality                                                       51
location              17.465080245131944000,78.340134322090170000
maintenanceAmount                                            2000
parking                                                         0
property_age                                                    5
property_size                                                2200
reactivationSource                                              6
rent_amount                                                 28000
sharedAccomodation                                              0
swimmingPool                                                    0
totalFloor                                                      5
type_bhk                                                        3
waterSupply                                                     2
Name: 0, dtype: object

In [899]:
data[['location-x', 'location-y']
     ] = data['location'].str.split(',', n=2, expand=True)

In [900]:
data.loc[0]

active                                                          0
balconies                                                       3
bathroom                                                        3
deposit                                                     90000
facing                                                          9
floor                                                           3
furnishingDesc                                                  1
gym                                                             0
isMaintenance                                                   1
lift                                                            1
loanAvailable                                                   0
locality                                                       51
location              17.465080245131944000,78.340134322090170000
maintenanceAmount                                            2000
parking                                                         0
property_age                                                    5
property_size                                                2200
reactivationSource                                              6
rent_amount                                                 28000
sharedAccomodation                                              0
swimmingPool                                                    0
totalFloor                                                      5
type_bhk                                                        3
waterSupply                                                     2
location-x                                  17.465080245131944000
location-y                                  78.340134322090170000
Name: 0, dtype: object

In [901]:
del data['location']

In [902]:
for i in data.iloc[0]:
    print(type(i))
    # print(i)

<class 'numpy.int64'>
<class 'str'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int32'>
<class 'numpy.int64'>
<class 'numpy.int32'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int32'>
<class 'str'>
<class 'numpy.int32'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int32'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'str'>
<class 'numpy.int32'>
<class 'str'>
<class 'str'>

In [903]:
data['balconies'] = data['balconies'].apply(lambda x: x if type(x)==int else 0)
data['maintenanceAmount'] = data['maintenanceAmount'].apply(lambda x: x if type(x)==int else 0)

In [904]:
data['balconies'] = data['balconies'].astype(float)
data['location-x'] = data['location-x'].astype(float)
data['location-y'] = data['location-y'].astype(float)
data['type_bhk'] = data['type_bhk'].astype(float)
data['maintenanceAmount'] = data['maintenanceAmount'].astype(float)

In [905]:
data.std()

active                    0.000000
balconies                 0.000000
bathroom                  0.710261
deposit               39825.288730
facing                    2.437498
floor                     2.465249
furnishingDesc            0.629531
gym                       0.272343
isMaintenance             0.499724
lift                      0.472871
loanAvailable             0.000000
locality                 63.777725
maintenanceAmount         0.000000
parking                   1.410225
property_age              3.442319
property_size           492.742711
reactivationSource        1.008934
rent_amount            9248.670235
sharedAccomodation        0.000000
swimmingPool              0.280952
totalFloor                3.973838
type_bhk                  0.719949
waterSupply               0.883276
location-x                0.055711
location-y                0.082221
dtype: float64

In [906]:
scaler = StandardScaler()
scaler.fit_transform(data)

array([[ 0.00000000e+00,  0.00000000e+00,  1.47056802e+00, ...,
        -2.80617277e-01,  2.65445025e-01, -9.08719177e-01],
       [ 0.00000000e+00,  0.00000000e+00,  6.25958366e-02, ...,
        -2.54497845e+00, -2.33460397e+00,  6.43617628e-01],
       [ 0.00000000e+00,  0.00000000e+00,  1.47056802e+00, ...,
        -2.80617277e-01, -8.37268162e-01, -4.30632792e-01],
       ...,
       [ 0.00000000e+00,  0.00000000e+00,  1.47056802e+00, ...,
         8.51563310e-01,  4.14837548e-01,  8.18065256e-02],
       [ 0.00000000e+00,  0.00000000e+00, -1.34537634e+00, ...,
         8.51563310e-01,  8.68936669e-01,  9.14836114e-04],
       [ 0.00000000e+00,  0.00000000e+00, -1.34537634e+00, ...,
         8.51563310e-01, -1.78744660e+00,  1.13214769e+00]])

In [907]:
data.std()

active                    0.000000
balconies                 0.000000
bathroom                  0.710261
deposit               39825.288730
facing                    2.437498
floor                     2.465249
furnishingDesc            0.629531
gym                       0.272343
isMaintenance             0.499724
lift                      0.472871
loanAvailable             0.000000
locality                 63.777725
maintenanceAmount         0.000000
parking                   1.410225
property_age              3.442319
property_size           492.742711
reactivationSource        1.008934
rent_amount            9248.670235
sharedAccomodation        0.000000
swimmingPool              0.280952
totalFloor                3.973838
type_bhk                  0.719949
waterSupply               0.883276
location-x                0.055711
location-y                0.082221
dtype: float64

In [908]:
data['active'].value_counts()
del data['active']

In [909]:
y = data['rent_amount']
x = data.drop(columns='rent_amount',axis=1)

In [910]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=3)